1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [34]:
Allnumber=range(2000,3201)
rslt=''
for i in Allnumber:
    if(i%7==0)and (i%5!=0):
            rslt=str(i)+ "," +str(rslt)

print(numbr)

3199,3192,3178,3171,3164,3157,3143,3136,3129,3122,3108,3101,3094,3087,3073,3066,3059,3052,3038,3031,3024,3017,3003,2996,2989,2982,2968,2961,2954,2947,2933,2926,2919,2912,2898,2891,2884,2877,2863,2856,2849,2842,2828,2821,2814,2807,2793,2786,2779,2772,2758,2751,2744,2737,2723,2716,2709,2702,2688,2681,2674,2667,2653,2646,2639,2632,2618,2611,2604,2597,2583,2576,2569,2562,2548,2541,2534,2527,2513,2506,2499,2492,2478,2471,2464,2457,2443,2436,2429,2422,2408,2401,2394,2387,2373,2366,2359,2352,2338,2331,2324,2317,2303,2296,2289,2282,2268,2261,2254,2247,2233,2226,2219,2212,2198,2191,2184,2177,2163,2156,2149,2142,2128,2121,2114,2107,2093,2086,2079,2072,2058,2051,2044,2037,2023,2016,2009,2002,

2. Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [20]:
#Example 1--------
#raw_input #python 2
#input #Python 3x
fullName=input('Enter First and Last Name : ')
fullName[::-1]

Enter First and Last Name : Sanjay Dutt

'ttuD yajnaS'

In [18]:
#Example 2--------
firstName=input('Enter First Name : ')
lastName=input('Enter Last Name : ')
firstName[::-1]+ ' ' + lastName[::-1]

Enter First Name : Sunny
Enter Last Name : Deol

'ynnuS loeD'

In [125]:
#Example 3--------change the order of fist name and last name
fullName=input('Enter First and Last Name : ')
Nam=fullName.split()
print(Nam[1] + " " + Nam[0])

Enter First and Last Name : Rohini Sharma
Sharma Rohini

3.Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * π * r 3

In [33]:
import math
diameter=12
r=12/2
#π=22/7
π=math.pi
V=4/3 * π * r**3
print(V)
V=4/3 * π * math.pow(r,3)
print(V)

904.7786842338603
904.7786842338603

4. Write a program which accepts a sequence of comma-separated numbers from console and
    generate a list

In [46]:
#Example 1
val=input("Enter value with comma-seprated from comnsole ")
if val.find(",")!=0 :
    l=val.split(",")
    print(l)
    print(type(l))

Enter value with comma-seprated from comnsole sdf
['sdf']
<class 'list'>

In [45]:
#Example 2
def onlyCommaSeprated():
    val=input("Enter value with comma-seprated from comnsole :")
    if val.find(",")!=0 :
        l=val.split(",")
        print(l)
        print(type(l))

onlyCommaSeprated()

Enter value with comma-seprated from comnsolesdf,asdf,sdf,asd
['sdf', 'asdf', 'sdf', 'asd']
<class 'list'>

Enter value with comma-seprated from comnsolebv,qwer,qwer,qwer
['bv', 'qwer', 'qwer', 'qwer']
<class 'list'>

5.Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [80]:
i=1
j=5
while i < 10:
    if(i<5):
        print("* "*i)
    i=i+1
    if(i>5):
        print("* "*j)
        j=j-1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [120]:
#Dynamic Pattern------------------------------------------
j=20 # change value as per requried pattern size
#j=int(input('enter any number greater then one '))
for i in range(1,j+j):
    if(i<j):
        print("* "*i)
    i=i+1
    if(i>j):
        print("* "*j)
        j=j-1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

6. Write a Python program to reverse a word after accepting the input from the user.

In [123]:
word=input('Enter any word')
print(word[::-1])

Enter any wordIneuron
noruenI

7. Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [166]:
sentence='''WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens'''
print('''WE, THE PEOPLE OF INDIA, '''+ '\n'+'''having solemnly resolved to constitute India into a SOVEREIGN, '''+ '!\n'+'''SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC '''+ '\n'+'''and to secure to all its citizens''')
#print(sentence[:sentence.find("INDIA,")+len("INDIA,")]+"\n" + sentence[sentence.find("INDIA,")+len("INDIA,")+1:sentence.find("SOCIALIST,")+1])

WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens